name: env-secret1
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'production'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}

    steps:
      - name: Print environment
        run: echo "Environment is: ${{ github.event.inputs.environment }}"

      - name: Show API key (may be unavailable if its an environment secret)
        run: echo "API key: ${{ secrets.PROD_API_KEY }}"
